<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Food Finder</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/FoodFinderStyles.css">
  </head>
  <body>
     <div id="mainpage">
      <h1 id="title">WELCOME TO THE FOOD FINDER</h1>  
      <img src="https://thumbs.dreamstime.com/b/wooden-table-food-top-view-cafe-102532611.jpg" alt="food at table" class="food"> 
      <div class ="blurbcontain"
        <h2 id="blurb">Gatekeep banh mi ennui DSA, litsicle drinking vinegar butcher yr. Live-edge vice pour-over paleo small batch sartorial. Sustainable bruh waistcoat pabst mixtape 8-bit. Listicle food truck vice 3 wolf moon squid pour-over banjo typewriter yr air plant taiyaki. Vibecession kitsch kinfolk bicycle rights austin lyft jianbing post-ironic direct trade.</h2> 
     </div>
      <p>
        @Html.ActionLink("See all Restaurants", "Index", "Restaurants", null, new { @class="htmlButtonMain"})
        <!-- @Html.ActionLink("See all Recipes", "Index", "Recipes", null, new { @class="htmlButtonMain"})
        @Html.ActionLink("See all Ingredients", "Index", "Ingredients", null, new { @class="htmlButtonMain"}) -->
      </p>
     </div>
  </body>
</html>
