<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Food Finder</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/FoodFinderStyles.css">
  </head>
  <body>
    <div class="open">
      <div class="layer"></div>
      <div class="layer"></div>
    </div>
    <section>
      <div class="bannerText">
        <h2>Food Finder</h2><br>
        <h3>The Goonies of Good Eats</h3>
        <p>Words about restaurants, ingredients and recipes. We don't know what to put here yet.</p>
        <a href="@Url.Action("Index", "Main", null)">C'mon you guys!</a>
      </div>
      <img src="https://raw.githubusercontent.com/GarrettHays/images/main/My%20project-1.png" alt="logo" class="bulb">
    </section>
  </body>
</html>




@* 
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Food Finder</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/FoodFinderStyles.css">
  </head>
  <body>
    <div class="container">
      <a href="@Url.Action("Index", "Main", null)"><img class = "splash" src="https://repository-images.githubusercontent.com/102518854/13829480-3a33-11eb-9630-26263414c433" style="width:80%;"></a>
    </div>
  </body>
</html> *@